/*=====Global css======*/ 
$small: 775px;


.about_content{
    padding-top: 100px;
    padding-bottom: 60px;
}
@media (min-width: 964px){
    .about_content{
        padding-top: 200px;
        padding-bottom: 115px;
    }
}
.content-container{
    width: 100%;
    max-width: calc(1320px + 25vw)!important;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @media screen and (min-width: $small) {
        padding-left: 12.5vw;
        padding-right: 12.5vw;
    }
}



.hero {
    width: 100%;
    height: calc(100vh - 182px);
    background-position: 50%;
    background-size: cover;
    position: relative;
    background-image: url(../assets/img/hero_image_02.png);
    .title-container{
        position: absolute;
        z-index: 1;
        background-color: rgba(0,0,0,.3);
        width: 100%;
        height: 100%;
        h1{
            font-size: 80px;
            text-align: center;
            line-height: 120%;
            font-weight: $font-weight-bold;
            color: var(--v-anchor-base);
            margin-bottom: 40px;
            font-family: $font-family-playfair;
        }
    }
}
.page-title-holder {
    position: relative;
    top: 0;
    left: calc(50% - 95px);
    background-color: #268aef;
    display: inline-block;
    z-index: 4;
    height: 40px;
    width: 190px;
    @media (min-width: 600px){
        width: 285px;
        height: 80px;
        left: calc(50% - 140px);
    }
    .entry-title {
        font-size: 16px!important;
        line-height: 149%;
        word-break: break-word;
        letter-spacing: 2px;
        font-weight: $font-weight-medium;
        color: var(--v-textColor-base);
    }
    :after,
    :before{
        content: "";
        width: 0;
        height: 0;
        border-color: #268aef transparent transparent;
        border-style: solid;
        border-width: 40px 30px 0 0;
        position: absolute;
        top: 0;
    }
    :before {
        left: -30px;
        transform: rotate(.5turn);
        @media (min-width: 600px){
            border-width: 80px 60px 0 0;
            left: -60px;
        }
    }
    :after{
        right: 0;
        transform: translateX(100%);
        @media (min-width: 600px){
            border-width: 80px 60px 0 0;
        }
    }
}

.principles{
    background-color: var(--widget-background-color);
    .principle-container{
        padding-top: 150px;
        @media (min-width: 964px){
            padding-top: 200px;
            padding-bottom: 115px;
        }
        .principle-image {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
        h2{
            font-size: 60px;
            line-height: 120%;
            font-weight: $font-weight-bold;
            color: var(--v-accent-base);
        }
        p{
            font-size: 18px;
            line-height: 35px;
            margin-bottom: 16px;
        }
    }
}


.globe-section{
    background-color: rgb(0, 130, 228);
    .large-heading{
        font-size: 60px !important;
        line-height: 120%;
        font-weight: $font-weight-bold;
        color: var(--v-textColor-base) !important;
    }
    p{
        font-size: 18px;
        line-height: 35px;
        font-weight: $font-weight-medium;
        margin-bottom: 16px;
        color: var(--v-textColor-base) !important;
    }
}
/*========News==========*/
.news{
    background-color: #fff;
    .about-us-news-article{
        .post-thumbnail{
            .latest-posts-background-featured-image-holder{
                width: 100%;
                height: 350px;
                &:hover{
                    img{
                        opacity: .8;
                        transform: scale(1.1);
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                }
            }
        }
        h4{
            margin-top: 32px!important;
            margin-bottom: 32px!important;
            font-size: 30px!important;
            line-height: 35px;
            color: var(--v-accent-base);
            font-weight: $font-weight-bold;
            a{
                text-decoration: none;
                color: var(--v-accent-base) !important;
                &:hover{
                    color: var(--v-accent-base) !important;
                }
            }
        }
    }
}


/*========Game Part CSS==========*/

.games{
    .page-title-holder{
        position: absolute;
        top: unset;
    }
    .about-us-games{
        .hooper{
            .hooper-list{
                overflow: hidden;
                width: 100%;
                height: 100%;
                .hooper-track{
                    display: flex;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    .hooper-slide{
                        flex-shrink: 0;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        .game-container{
                            position: relative;
                            &:hover{
                                &::after{
                                    opacity: .6;
                                }
                                .portfolio-text-holder{
                                    opacity: .6;
                                }
                            }
                            &:after{
                                content: "";
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 25%;
                                background-color: #000;
                                left: 0;
                                bottom: 0;
                                opacity: .7;
                                transition: opacity .3s ease-in-out;
                                @media (max-width: 1800px){
                                    height: 35%;
                                }
                            }
                            &::after{
                                opacity: 0;
                            }
                            a{
                                img{
                                    width: 100%!important;
                                    height: auto;
                                    display: block;
                                }
                            }
                            .portfolio-text-holder{
                                color: #fff;
                                position: absolute;
                                bottom: 20px;
                                left: 50px;
                                display: inline-block;
                                z-index: 1;
                                transition: all .3s ease;
                                opacity: 0;
                                .portfolio-desc{
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #b3b3b3;
                                    letter-spacing: 2px;
                                    margin-bottom: 0;
                                    margin-right: 10px;
                                }
                                .portfolio-title{
                                    font-size: 30px;
                                    line-height: 140%;
                                    margin-bottom: 0;
                                    margin-top: 2px;
                                    margin-right: 10px;
                                    font-weight: 700;
                                    color: #fff;
                                }
                            }
                        }

                    }
                }
            }
        } 
    }
}

/*========Partner part CSS==========*/
.partners{
    .partner-container{
        width: 100%;
        max-width: 220px;
        &:hover{
            img{
                transform: scale(1.2);
            }
            p{
                opacity: 1;
            }
        }
        img{
            width: 100%;
            transition: all .5s;
        }
        p{
            opacity: 0;
            transition: opacity .5s;
            margin-bottom: 16px;
            color: var(--v-accent-base);
        }
    }
}

/*========Quotes part CSS==========*/
.quotes {
    background-image: url(../assets/img/quote_image_02.png);
    background-size: cover;
    background-position: 50%;
    .quote-container{
        font-size: 24px;
        line-height: 35px;
        background-color: #000;
        opacity: .86;
        .quotation-img{
            width: 67px;
            margin-bottom: 28px;
            @media(min-width: 600px){
                width: 87px;
                margin-bottom: 67px;
            }
        }
        .quote-text{
            line-height: 170%;
            color: #b3b3b3;
            margin-bottom: 60px;
        }
        .signature{
            color: var(--v-textColor-base);
            .quote-img{
                border-radius: 50%;
                height: 70px;
                width: 70px;
                margin-right: 30px;
            }
            .role{
                letter-spacing: 4px;
            }
        }
    }
}


/*========milestones part css==========*/
.milestones{
    background-color: #fff;
    .milestone {
        margin: 30px 0 60px;
        .milestone-num{
            width: 189px;
            font-size: 80px;
            line-height: 100%;
            font-weight: 700;
            position: relative;
            margin-bottom: 0;
            color: #000;
        }
        .milestone-info{
            color: #000;
            width: 220px;
            padding-top: 0;
            line-height: 115%;
            font-size: 28px!important;
            margin-left: 10px;
        }
    }
}