
.get_gala_wrap{

    .get_gala_img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        width: 100%;
        height: 100%;
    }
}