

.h-100vh{
    height: 100vh;
}
.main{
  min-height: 100vh;
  padding: var(--outer-padding);

  .login-wrap{

  }


  .login{
    position: relative;
    max-width: 400px;
    max-height: 450px;
    .card-header{
       img{
         display: block;
         -o-object-fit: contain;
         object-fit: contain;
         max-height: 52px;
         max-height: var(--logo-height);
         max-width: 100%;
       }

      h1{
        font-size: 24px;
        font-size: var(--title-font-size);
        font-weight: 400;
        font-weight: var(--title-font-weight);
        letter-spacing: 0;
        color: #2d333a;
        color: var(--title-font-color);
      }
    }
  }
  .form {
    width: 100%;
    height: auto;
    margin-top: 2rem;

    .input-control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.25rem;
    }

    .input-field {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: inherit;
      width: 100%;
      height: auto;
      padding: 0.75rem 1.25rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      color: var(--color-black);
      background: var(--color-light);
      text-transform: unset;
      text-rendering: optimizeLegibility;
    }

    .input-submit {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: inherit;
      cursor: pointer;
      min-width: 40%;
      height: auto;
      padding: 0.65rem 1.25rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      color: var(--color-white);
      background: var(--color-blue);
      box-shadow: var(--shadow-medium);
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
    }
  }
}