//@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "variables";
@import "colros";
@import "login";


body {
  background-color: var(--v-secondary-base);
  font-size: 16px;
}

header{
  nav{
    background-color: var(--v-accent-base) !important;
    border-color: var(--v-accent-base) !important;
  }
}


.footer {
  background: #383a45;
  h5, a{
    color: #fff;
  }
  .copyright{
    ul{
      gap: 20px;
      li {
        color: var(--v-accentLight-darken2);
      }
    }
  }
}